typeattribute app_zygote_tmpfs tmpfs_type;
typeattribute audioserver_tmpfs tmpfs_type;
typeattribute cameraserver hal_face_client;
typeattribute cameraserver_tmpfs tmpfs_type;
typeattribute tmpfs tmpfs_type;
typeattribute init_tmpfs tmpfs_type;
typeattribute mediaextractor_tmpfs tmpfs_type;
typeattribute mediaserver_tmpfs tmpfs_type;
typeattribute surfaceflinger_tmpfs tmpfs_type;
typeattribute system_server_tmpfs tmpfs_type;
typeattribute traced_tmpfs tmpfs_type;
typeattribute ueventd_tmpfs tmpfs_type;
typeattribute webview_zygote_tmpfs tmpfs_type;
typeattribute zygote_tmpfs tmpfs_type;
typeattribute artd_tmpfs tmpfs_type;
typeattribute crosvm_domain_tmpfs tmpfs_type;
typeattribute crosvm_vu_fs_tmpfs tmpfs_type;
typeattribute dexopt_chroot_setup_tmpfs tmpfs_type;
typeattribute dumpstate_tmpfs tmpfs_type;
typeattribute heapprofd_tmpfs tmpfs_type;
typeattribute mediatranscoding_tmpfs tmpfs_type;
typeattribute perfetto_tmpfs tmpfs_type;
typeattribute traced_probes_tmpfs tmpfs_type;